<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <MediaLocations>
    <add key="SourceLocations" value="C:\Users\pthota\Pictures # C:\Users\pthota\Pictures\ananya"/>
    <add key="DestinationLocations" value="C:\Users\pthota\Pictures\temp # C:\Users\pthota\Pictures\ananya\temp"/>
  </MediaLocations>
</configuration>


<!-- 
<?xml version="1.0"?>
<configuration>
    <connectionStrings>   
        <add name="MyKey" 
             connectionString="Data Source=localhost;Initial Catalog=ABC;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>

Once you have defined your app.config, you can read it in code using the ConfigurationManager class. Don't be intimidated by the verbose MSDN examples; it's actually quite simple.
string connectionString = ConfigurationManager.ConnectionStrings["MyKey"].ConnectionString;
-->